Description=Network Power Saver
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=      #command to run python script, make sure packages are availble to shell.
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target